header {
    margin: 0;
    background-color: rgb(242, 247, 251);
    color: black;
    /* bordes inferiores  */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.brand-name{
    /* manera de alinear la sva y titulo */
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.content{
    padding-left: 30px;
    padding-top: 10px;
}

.title{
    color:  #6783ea;
    font-family: 'Courier New', Courier, monospace;
}


