.listing-photo {
  height: 400px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}
.listing-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #6783ea;
}
.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}
.listing-location {
  font-size: 18pt;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #6783ea;
}
.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 20pt;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #6783ea;
}
.listing-features {
  margin-bottom: 20px;
}
.listing-features li {
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
  color: #6077ca;
}

hr{
    border: solid 2px #374681;
    width: 570px;
    margin-left: 0px;
    
}

li {
  list-style-type: none;
}
.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}
label, input {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  color: #6783ea;
}
label {
  color: #6783ea;
  font-weight: bold;
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
  border-radius: 10px;
}
button.primary {
    padding: 15px;
    border: 2px solid  #6783ea;
    background: #6783ea;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button.primary:hover{
    background-color: #899ff0;
}
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 400px;
  }
}